.ui-accordion { 
    width: 100%; 
}

.ui-accordion .ui-accordion-header { 
    cursor: pointer; 
    position: relative; 
    margin-top: 1px; 
    zoom: 1; 
}

.ui-accordion .ui-accordion-header a { 
    display: block; 
    font-size: 1em; 
    padding: .5em .5em .5em 2.2em; 
}

.ui-accordion .ui-accordion-header .fa {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}

.ui-accordion .ui-accordion-content { 
    padding: 1em 2.2em; 
    border-top: 0; 
    margin-top: -2px; 
    position: relative; 
    top: 1px; 
    margin-bottom: 2px; 
    overflow: auto; 
    zoom: 1; 
}

.ui-accordion .ui-accordion-header.ui-state-disabled, 
.ui-accordion .ui-accordion-header.ui-state-disabled a { 
    cursor: default; 
}
.ui-autocomplete {
    width: auto;
    zoom: 1;
    cursor: pointer;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    display: inline-block;
}

.ui-autocomplete .ui-autocomplete-dropdown {
    position: absolute;
    height: 100%;
    width: 2.4em;
}

.ui-autocomplete-query {
    font-weight: bold;
}

.ui-autocomplete-panel {
    position: absolute;
    overflow: auto;
}

.ui-autocomplete-panel .ui-autocomplete-list {
    padding: 0.4em;
    border: 0 none;
}

.ui-autocomplete-panel .ui-autocomplete-list-item {
    border:0px none;
    cursor:pointer;
    font-weight:normal;
    margin:1px 0;
    padding:3px 5px;
    text-align:left;
}

.ui-autocomplete-panel .ui-autocomplete-table {
    border-collapse:collapse;
    width: 100%;
}

.ui-autocomplete-panel .ui-autocomplete-table td {
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    padding:4px 10px 4px 10px;
}

.ui-autocomplete .ui-button-icon-only .ui-button-text {
    padding: 0.29em;
}

/* Multiple Selection */
.ui-autocomplete-multiple {
    clear: left;
    cursor: text;
    list-style-type: none;
    margin: 0;
    min-height: 1px;
    overflow: hidden;
}

.ui-autocomplete-multiple-container.ui-inputfield {
    padding:0;
}

.ui-autocomplete-token {
    cursor: default;
    float: left;
    overflow: hidden;
    padding: 1px 3px;
    white-space: nowrap;
    position: relative;
    margin:2px;
}

.ui-autocomplete-token-label {
    display: block;
    padding: 0em 2.1em 0em 0.5em;
}

.ui-autocomplete-token-icon {
    margin-top: -9px;
    position: absolute;
    right: 0.2em;
    top: 50%;
    cursor: pointer;
}

.ui-autocomplete-input-token {
    float: left;
    list-style-type: none;
    margin: 2px;
    padding: 1px;
}

.ui-autocomplete-input-token .ui-inputtext {
    border: 0 none;
    width: 140px;
    outline: medium none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.ui-autocomplete-itemtip-content {
    display:none;
}

.ui-autocomplete-itemtip {
    position: absolute;
    display: none;
    padding: 0.4em;
}

.ui-autocomplete-emptyMessage {
    padding:3px 5px;
}

.ui-autocomplete-panel .ui-autocomplete-group {
    font-weight: bold;
    cursor: default;
}

/* ng */
.ui-autocomplete-dd input.ui-corner-all {
    -moz-border-radius-topright: 0px; 
    -webkit-border-top-right-radius: 0px;
     border-top-right-radius: 0px;
     -moz-border-radius-bottomright: 0px;
     -webkit-border-bottom-right-radius: 0px;
     border-bottom-right-radius: 0px;
 }
 
.ui-autocomplete-dd .ui-autocomplete-dropdown.ui-corner-all {
     -moz-border-radius-topleft: 0px; 
     -webkit-border-top-left-radius: 0px;
      border-top-left-radius: 0px;
      -moz-border-radius-bottomleft: 0px;
      -webkit-border-bottom-left-radius: 0px;
      border-bottom-left-radius: 0px;
}

/** AutoComplete **/
.ui-fluid .ui-autocomplete,
.ui-fluid .ui-autocomplete-input {
    width: 100%;
}

.ui-fluid .ui-autocomplete .ui-autocomplete-dropdown.ui-button {
    width: 2.4em;
}
/* Button */
.ui-button { 
    display: inline-block; 
    position: relative; 
    padding: 0; 
    margin-right: .1em; 
    text-decoration: none !important; 
    cursor: pointer; 
    text-align: center; 
    zoom: 1; 
    overflow: visible; /* the overflow property removes extra width in IE */
} 

.ui-button-icon-only { 
    width: 2.4em;
} 

/*button text element */
.ui-button .ui-button-text { 
    display: block; 
    line-height: normal;  
}

.ui-button-text-only .ui-button-text { 
    padding: .3em 1em; 
}

.ui-button-icon-only .ui-button-text { 
    padding: .3em; 
    text-indent: -9999999px; 
}

.ui-button-text-icon-left .ui-button-text { 
    padding: .3em 1em .3em 2.1em; 
}

.ui-button-text-icon-right .ui-button-text { 
    padding: .3em 2.1em .3em 1em; 
}

/*button icon element(s) */
.ui-button-icon-only .fa,
.ui-button-text-icon-left .fa,
.ui-button-text-icon-right .fa {
    position: absolute; 
    top: 50%;
    margin-top: -7px; 
}

.ui-button-icon-only .fa {
    left: 50%; 
    margin-left: -8px; 
}

.ui-button-icon-left {
    left: .5em; 
}

.ui-button-icon-right {
    right: .5em; 
}

/*button sets*/
.ui-buttonset { 
    margin-right: 7px; 
}
.ui-buttonset .ui-button { 
    margin-left: 0; 
    margin-right: 0;
}

/* workarounds */
button.ui-button::-moz-focus-inner { 
    border: 0; padding: 0; /* reset extra padding in Firefox */
}

/** Fluid **/
.ui-fluid .ui-button {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

/** ButtonSet **/
.ui-fluid .ui-buttonset {
    width: 100%;
}

.ui-fluid .ui-buttonset.ui-buttonset-1 .ui-button {width: 100%;}
.ui-fluid .ui-buttonset.ui-buttonset-2 .ui-button {width: 50%;}
.ui-fluid .ui-buttonset.ui-buttonset-3 .ui-button {width: 33.3%;}
.ui-fluid .ui-buttonset.ui-buttonset-4 .ui-button {width: 25%;}
.ui-fluid .ui-buttonset.ui-buttonset-5 .ui-button {width: 20%;}
.ui-fluid .ui-buttonset.ui-buttonset-6 .ui-button {width: 16.6%;}

@media (max-width: 640px) {
    .ui-fluid .ui-buttonset.ui-buttonset-1 .ui-button,
    .ui-fluid .ui-buttonset.ui-buttonset-2 .ui-button,
    .ui-fluid .ui-buttonset.ui-buttonset-3 .ui-button,
    .ui-fluid .ui-buttonset.ui-buttonset-4 .ui-button,
    .ui-fluid .ui-buttonset.ui-buttonset-5 .ui-button,
    .ui-fluid .ui-buttonset.ui-buttonset-6 .ui-button {
        width: 100%;
    }
}
.ui-calendar {
    position: relative;
    display: inline-block;
}

.ui-calendar button {
    position: absolute;
    height: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ui-fluid .ui-calendar {
    width: 100%;
}
.ui-carousel {
    position: relative;
    padding: 1px;
}

.ui-carousel .ui-carousel-viewport .ui-carousel-items {
    list-style: none outside none;
    margin: 0;
    padding:0;
    position: relative;
    width: 32000px;
    left: 0;
}

.ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
    margin: 1px;
    padding: 0;
    float: left;
    box-sizing: border-box;
}

.ui-carousel .ui-carousel-viewport {
    overflow: hidden;
    position: relative;
    border: 0;
}

.ui-carousel .ui-carousel-footer {
    margin: 1px 1px 0px 1px;
    padding-top: 9px;
    padding-bottom: 6px;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.ui-carousel .ui-carousel-header {
    margin: 0 1px;
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
}

.ui-carousel .ui-carousel-header .ui-carousel-header-title {
    display: inline-block;
    padding-top: 2px;
    overflow: hidden;
}

.ui-carousel .ui-carousel-dropdown,
.ui-carousel .ui-carousel-mobiledropdown {
    float: right;
    margin: 0px 10px;
    background-image: none;
}

.ui-carousel .ui-carousel-dropdown option,
.ui-carousel .ui-carousel-mobiledropdown option{
    background-image: none;
    border:0 none;
    box-shadow:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-carousel .ui-carousel-button {
    float: right;
    margin: 2px;
}

.ui-carousel .ui-carousel-page-link {
    float: left;
    margin: 0 2px;
}

.ui-carousel .ui-carousel-page-link, 
.ui-carousel .ui-carousel-button {
    cursor: pointer;
}

.ui-carousel .ui-carousel-page-links {
    margin: 0px 9px;
    margin-top: 2px;
    display: inline-table;
    float: right;
}

.ui-carousel .ui-carousel-mobiledropdown {
    display: none;
}
.ui-chkbox {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.ui-chkbox .ui-chkbox-box {
    float: left;
    width: 16px;
    height: 16px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-right: 3px;
}

.ui-chkbox .ui-chkbox-icon {
    margin-top: 1px;
    margin-left: -1px;
}

.ui-chkbox-label {
    vertical-align: middle;    
}


/*
 * PrimeUI Core
 */
.ui-shadow {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3); 
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3); 
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
}

.ui-unselectable-text {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ui-scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}
.ui-datagrid .ui-paginator {
	text-align: center;
    border-top: 0px none;
}

.ui-datagrid-column {
	padding: 3px;
}

.ui-datagrid-content-empty {
    padding: 4px 10px;
}

.ui-datagrid .ui-datagrid-header,
.ui-datagrid .ui-datagrid-footer {
    text-align:center;
    padding:4px 10px;
}

.ui-datagrid .ui-datagrid-header {
    border-bottom: 0px none;
}

.ui-datagrid .ui-datagrid-footer {
    border-top: 0px none;
}

.ui-datagrid .ui-paginator-top {
    border-bottom: 0px none;
}

.ui-datagrid .ui-paginator-bottom {
    border-top: 0px none;
}

.ui-datagrid-content  {
    display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-align-content: flex-end;
   align-content: flex-end;
}

.ui-datagrid-content > div {
    box-sizing: border-box;
}

.ui-datagrid-col-1 > div {
 	width: 100%
}

.ui-datagrid-col-2 > div {
 	width: 50%
}

.ui-datagrid-col-3 > div {
 	width: 33.33333%;
}

.ui-datagrid-col-4 > div {
 	width: 25%
}

.ui-datagrid-col-5 > div {
 	width: 20%
}

.ui-datagrid-col-6 > div {
 	width: 16.66666%;
}

.ui-datagrid-col-7 > div {
 	width: 14.28571%
}

.ui-datagrid-col-8 > div {
 	width: 12.5%
}

.ui-datagrid-col-9 > div {
 	width: 11.11111%
}

.ui-datagrid-col-10 > div {
 	width: 10%
}

@media (max-width: 640px) {   
    .ui-datagrid-content  { 
        display: block;
    }
     
    .ui-datagrid-col-1 > div,
    .ui-datagrid-col-2 > div,
    .ui-datagrid-col-3 > div,
    .ui-datagrid-col-4 > div,
    .ui-datagrid-col-5 > div,
    .ui-datagrid-col-6 > div,
    .ui-datagrid-col-7 > div,
    .ui-datagrid-col-8 > div,
    .ui-datagrid-col-9 > div,
    .ui-datagrid-col-10 > div,
    .ui-datagrid-col-11 > div,
    .ui-datagrid-col-12 > div {
        width: 100%;
    }
}


.ui-datascroller {
}

.ui-datascroller .ui-datascroller-header {
    text-align: center;
    padding: 4px 10px;
    border-bottom: 0px none;
}

.ui-datascroller .ui-datascroller-footer {
    text-align: center;
    padding: 4px 10px;
    border-top: 0px none;
}

.ui-datascroller .ui-datascroller-content {
    padding:4px 10px;
}

.ui-datascroller-inline .ui-datascroller-content {
    overflow: auto;
}

.ui-datascroller .ui-datascroller-list {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.ui-datascroller .ui-datascroller-item {
    border: 0 none;
}

.ui-datascroller .ui-datascroller-loader {
    text-align: center;
    padding: 4px 10px;
}

.ui-datascroller .ui-datascroller-loading {
    background: url("./images/loadingbar.gif") center center no-repeat;
    width: 220px;
    height: 19px;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.ui-datalist .ui-datalist-header,
.ui-datalist .ui-datalist-footer {
    text-align:center;
    padding:4px 10px;
}

.ui-datalist .ui-datalist-header {
    border-bottom: 0px none;
}

.ui-datalist .ui-datalist-footer {
    border-top: 0px none;
}

.ui-datalist .ui-paginator {
    border-top: 0px none;
}

.ui-datalist .ui-datalist-data {
    margin: 0;
    padding: 0;
}

.ui-datalist .ui-datalist-data > li {
    list-style-type: none;
    
}
.ui-datatable table {
	border-collapse:collapse;
    width: 100%;
    table-layout: fixed;
}

.ui-datatable .ui-datatable-header,
.ui-datatable .ui-datatable-caption,
.ui-datatable .ui-datatable-footer {
    text-align: center;
    padding: 4px 10px;
    box-sizing: border-box;
}

.ui-datatable .ui-datatable-caption,
.ui-datatable .ui-datatable-header {
    border-bottom: 0px none;
}

.ui-datatable .ui-datatable-footer {
    border-top: 0px none;
}

.ui-datatable thead th, .ui-datatable tfoot td {
    text-align: center;
}

.ui-datatable thead th,
.ui-datatable tbody td,
.ui-datatable tfoot td,
.ui-datatable tfoot th{
    padding: 4px 10px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
}

.ui-datatable thead tr {
    border-width: 0px;
}

.ui-datatable thead th {
    border-color: inherit;
    box-sizing: border-box;
}

.ui-datatable tbody {
    outline: 0;
}

.ui-datatable tbody td {
    border-color: inherit;
}

.ui-datatable .ui-sortable-column {
    cursor: pointer;
}

.ui-datatable .ui-sortable-column-icon {
    display: inline-block;
    margin: -3px 0px -3px 2px;
}

.ui-datatable tr.ui-state-highlight {
    cursor: pointer;
}

/* Scrollable */
.ui-datatable-scrollable-body {
    overflow:auto;
}
.ui-datatable-scrollable-header {
    overflow: hidden;
    border: 0px none;
}

.ui-datatable-scrollable .ui-datatable-scrollable-header {
    position: relative;
}

.ui-datatable-scrollable .ui-datatable-scrollable-header td {
    font-weight: normal;
}

.ui-datatable .ui-datatable-scrollable-body  {
    min-height: 0%;
}

.ui-datatable .ui-datatable-data tr.ui-state-hover {
    border-color: inherit;
    font-weight: inherit;
    cursor: pointer;
}

.ui-datatable-scrollable-theadclone {
    height:0px;
}

.ui-datatable-scrollable-theadclone tr {
    height:0px;
}

.ui-datatable-scrollable-theadclone th.ui-state-default {
    height:0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    outline: 0 none;
}

.ui-datatable-scrollable-theadclone th span.ui-column-title {
  display: block;
  height: 0px;
}

.ui-datatable .ui-paginator {
    padding: 2px;
    border-top: 0 none;
}

.ui-datatable-rtl {
    direction: rtl;
}

.ui-datatable-rtl.ui-datatable thead th,
.ui-datatable-rtl.ui-datatable tfoot td {
    text-align: right;
}

/* Row Toggler */
.ui-row-toggler {
    cursor: pointer;
}

/* Resizable */
.ui-datatable .ui-column-resizer {
    display: block;
    position: absolute !important;
    top: 0px;
    right: 0px;
    margin: 0;
    width:8px;
    height:100%;
    padding:0px;
    cursor:col-resize;
    border: 1px solid transparent;
}

.ui-datatable .ui-column-resizer-helper {
    width: 1px;
    position: absolute;
    z-index: 10;
    display: none;
}

.ui-datatable-resizable {
    padding-bottom:1px;     /*fix for webkit overlow*/
    overflow:auto;
}

.ui-datatable-resizable thead th,
.ui-datatable-resizable tbody td,
.ui-datatable-resizable tfoot td {
    white-space: nowrap;
}

.ui-datatable-resizable th.ui-resizable-column {
    background-clip: padding-box;
    position: relative;
}

/** Reflow **/
.ui-datatable-reflow .ui-datatable-data td .ui-column-title {
    display: none;
}

/* Filter */
.ui-datatable .ui-column-filter {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 4px;
}

/* Editing */
.ui-datatable td.ui-cell-editing {
    padding: 0px;
}

.ui-datatable td.ui-cell-editing input {
    box-sizing: border-box;
    width: 100%;
    border: 0px none;
    outline: 0;
}

.ui-datatable .ui-editable-column .ui-cell-editor {
    display: none;
}

.ui-datatable .ui-editable-column.ui-cell-editing .ui-cell-editor {
    display: inline;
}

.ui-datatable .ui-editable-column.ui-cell-editing .ui-cell-data {
    display: none;
}

@media ( max-width: 35em ) {
    .ui-datatable-reflow thead th,
    .ui-datatable-reflow tfoot td {
        display: none !important;
    }

    .ui-datatable-reflow .ui-datatable-data td {
        text-align: left;
        display: block;
        border: 0px none;
        width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		clear: left;
    }

    .ui-datatable-reflow .ui-datatable-data.ui-widget-content {
        border: 0px none;
    }

    .ui-datatable-reflow .ui-datatable-data tr.ui-widget-content {
        border-left: 0px none;
        border-right: 0px none;
    }

    .ui-datatable-reflow .ui-datatable-data td .ui-column-title {
        padding: .4em;
        min-width: 30%;
        display: inline-block;
        margin: -.4em 1em -.4em -.4em;
        font-weight: bold;
    }
}

.ui-datatable-stacked thead th,
.ui-datatable-stacked tfoot td {
    display: none !important;
}

.ui-datatable-stacked .ui-datatable-data td {
    text-align: left;
    display: block;
    border: 0px none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: left;
}

.ui-datatable-stacked .ui-datatable-data.ui-widget-content {
    border: 0px none;
}

.ui-datatable-stacked .ui-datatable-data tr.ui-widget-content {
    border-left: 0px none;
    border-right: 0px none;
}

.ui-datatable-stacked .ui-datatable-data td .ui-column-title {
    padding: .4em;
    min-width: 30%;
    display: inline-block;
    margin: -.4em 1em -.4em -.4em;
    font-weight: bold;
}

.ui-datatable .ui-selection-column .ui-chkbox,
.ui-datatable .ui-selection-column .ui-radiobutton {
     margin: 0;
     display: block;
}

.ui-datatable .ui-selection-column .ui-chkbox-box,
.ui-datatable .ui-selection-column .ui-radiobutton-box {
    display: block;
    box-sizing: border-box;
    height: 17px;
    width: 17px;
}

.ui-dialog { position: fixed; padding: 0; overflow: hidden; width: 300px;}
.ui-dialog .ui-dialog-titlebar { padding: .4em .4em .4em 1em; position: relative; border:0px; }
.ui-dialog .ui-dialog-title { float: left; margin: .3em 16px .1em 0; } 
.ui-dialog .ui-dialog-content {position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; float:right;}
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
.ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-titlebar-minimize,.ui-dialog .ui-dialog-titlebar-maximize { float: right; margin-top: 2px; top:0px; padding: 1px; cursor:pointer; height: 16px;}
.ui-dialog .ui-dialog-titlebar-close span, .ui-dialog .ui-dialog-titlebar-minimize span, .ui-dialog .ui-dialog-titlebar-maximize span { display: block; margin: 0px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus, .ui-dialog .ui-dialog-titlebar-minimize:hover, .ui-dialog .ui-dialog-titlebar-minimize:focus, .ui-dialog .ui-dialog-titlebar-maximize:hover, .ui-dialog .ui-dialog-titlebar-maximize:focus   { padding: 0; }
.ui-dialog-footer {padding: .4em 1em; border-width: 1px 0 0 0;text-align:left;}
.ui-dialog-docking-zone {position: fixed;bottom: 0;left: 0;}
.ui-dialog-minimizing {border: 2px dotted gray;}
.ui-confirm-dialog-severity {float: left; margin: 3px 7px 20px 0;}
.ui-dialog.ui-dialog-minimized{*width: 200px !important;} /*IE7 hack*/

.ui-dialog-mask {
    position: fixed;
    width: 100%;
    height: 100%;
}

/** RTL **/
.ui-dialog-rtl {
    direction: rtl;
}

.ui-dialog.ui-dialog-rtl .ui-dialog-title {
    float: right;
}

.ui-dialog.ui-dialog-rtl .ui-dialog-titlebar-close,
.ui-dialog.ui-dialog-rtl .ui-dialog-titlebar-minimize,
.ui-dialog.ui-dialog-rtl .ui-dialog-titlebar-maximize {
    float: left;
}

.ui-dialog.ui-dialog-rtl .ui-dialog-footer {
    text-align: right;
}

.ui-dialog-draggable .ui-dialog-titlebar {
    cursor: move;
}
.ui-dropdown {
    display: inline-block;
    position: relative;
    width: auto;
    zoom: 1;
    cursor: pointer;
    padding-right: 2em;
}

.ui-dropdown .ui-dropdown-trigger {
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    width: 16px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;
}

.ui-dropdown .ui-dropdown-trigger .fa {
    margin-top: 4px;
    margin-left: -1px;
}

.ui-dropdown .ui-dropdown-label  {
    display: block;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    width: 100%;
    float:left;
}

.ui-dropdown .ui-dropdown-label-empty {
    text-indent: -9999px;   
}

.ui-dropdown.ui-state-disabled .ui-dropdown-trigger,
.ui-dropdown.ui-state-disabled .ui-dropdown-label {
    cursor: default;
}

.ui-dropdown label.ui-dropdown-label  {
    cursor: pointer;
}

.ui-dropdown input.ui-dropdown-label  {
    cursor: default;
}

.ui-dropdown .ui-dropdown-panel {
    min-width: 100%;
}

.ui-dropdown-panel {
    position: absolute;
    height: auto;
}

.ui-dropdown-panel .ui-dropdown-items-wrapper {
    overflow: auto;
}

.ui-dropdown-panel .ui-dropdown-item {
    font-weight: normal;
    border:0px none;
    cursor:pointer;
    margin:1px 0;
    padding:3px 5px;
    text-align:left;
}

.ui-dropdown-panel .ui-dropdown-item-group {
    font-weight: bold;
}

.ui-dropdown-panel .ui-dropdown-list {
    padding: 0.4em;
    border: 0 none;
}

.ui-dropdown-panel .ui-dropdown-filter {
    width: 100%;
    padding-right:18px;
    box-sizing: border-box;
}

.ui-dropdown-panel .ui-dropdown-filter-container {
    position: relative;
    margin: 0;
    padding: 0.4em;
    display: inline-block;
}

.ui-dropdown-panel .ui-dropdown-filter-container .fa {
    position: absolute;
    top: 12px;
    right: 15px;
}

/** Dropdown **/
.ui-fluid .ui-dropdown {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.ui-fluid .ui-dropdown .ui-dropdown-trigger {
    width: 32px;
    padding: 0 6px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
    padding:0.6em 1em;
}

.ui-fieldset-toggleable .ui-fieldset-legend {
    padding: 0.5em 1em 0.5em 0.5em;
    cursor:pointer;
    white-space: nowrap;
}

.ui-fieldset .ui-fieldset-toggler {
    padding-right: .1em;
    margin-top: 0.1em;
    float:left;
}
.ui-galleria { 
    overflow: hidden; 
    visibility: hidden; 
    position: relative;
}

.ui-galleria-panel-wrapper {
    position: relative;
    padding: 0px;
    margin: 0px;
}

.ui-galleria-panel {
    filter: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
    list-style-type: none;
}

.ui-galleria-filmstrip-wrapper {
    overflow: hidden;
    margin: 5px auto;
    position: relative;
}

.ui-galleria-filmstrip { 
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 2340px;
    z-index: 900;
    position: absolute;
    top: 0px;
    left: 0px;
}

.ui-galleria-frame {
    float:left;
    margin-right: 5px;
    opacity: 0.3;
    cursor: pointer;
}

.ui-galleria-frame-active {
    opacity: 1;
}

.ui-galleria-frame-content {
    overflow: hidden;
}

.ui-galleria-nav-next, .ui-galleria-nav-prev {
	cursor: pointer;
    position: absolute;
}

.ui-galleria-nav-prev {	
    left: 5px;
}

.ui-galleria-nav-next {
    right: 5px;
}

.ui-galleria-caption {
    position: absolute;
    left:1px;
    background-color: rgba(0,0,0,0.5);
    display: none;
    color: #ededed;
    padding: 0.2em 1em;
}

.ui-galleria-caption h4 {
    color: #ededed;
}

.ui-galleria-panel-content {
    padding: 1em 1.4em;
}
/* Deprecated Grid CSS */
.ui-grid {
    clear: both;
    padding: 0px;
    margin: 0px;
}

.ui-grid:before,
.ui-grid:after {
    content:"";
    display:table;
}

.ui-grid:after {
    clear:both;
}

.ui-grid .ui-grid-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    clear:both;
}

.ui-grid-row:after {
    clear: both;
    content: "";
    display: table;
}

.ui-grid-col-1,
.ui-grid-col-2,
.ui-grid-col-3,
.ui-grid-col-4,
.ui-grid-col-5,
.ui-grid-col-6,
.ui-grid-col-7,
.ui-grid-col-8,
.ui-grid-col-9,
.ui-grid-col-10,
.ui-grid-col-11,
.ui-grid-col-12 {
    float: left;
    box-sizing: border-box;
}

.ui-grid-col-1 {
    width: 8.33333%;
}

.ui-grid-col-2 {
    width: 16.66666%;
}

.ui-grid-col-3 {
    width: 25%;
}

.ui-grid-col-4 {
    width: 33.33333%;
}

.ui-grid-col-5 {
    width: 41.66666%;
}

.ui-grid-col-6 {
    width: 50%;
}

.ui-grid-col-7 {
    width: 58.33333%;
}

.ui-grid-col-8 {
    width: 66.66666%;
}

.ui-grid-col-9 {
    width: 75%;
}

.ui-grid-col-10 {
    width: 83.33333%;
}

.ui-grid-col-11 {
    width: 91.66666%;
}

.ui-grid-col-12 {
    width: 100%;
}

@media (min-width: 480px) {
    .ui-grid-fixed {
        width: 480px;
    }
}

@media (min-width: 768px) {
    .ui-grid-fixed {
        width: 768px;
    }
}

@media (min-width: 960px) {
    .ui-grid-fixed {
        width: 960px;
    }
}

@media (min-width: 1024px) {
    .ui-grid-fixed {
        width: 1024px;
    }
}

/* Responsive */
@media (max-width: 640px) {
    .ui-grid-responsive .ui-grid-row {
        display: block;
    }
    
    .ui-grid-responsive .ui-grid-col-1,
    .ui-grid-responsive .ui-grid-col-2,
    .ui-grid-responsive .ui-grid-col-3,
    .ui-grid-responsive .ui-grid-col-4,
    .ui-grid-responsive .ui-grid-col-5,
    .ui-grid-responsive .ui-grid-col-6,
    .ui-grid-responsive .ui-grid-col-7,
    .ui-grid-responsive .ui-grid-col-8,
    .ui-grid-responsive .ui-grid-col-9,
    .ui-grid-responsive .ui-grid-col-10,
    .ui-grid-responsive .ui-grid-col-11,
    .ui-grid-responsive .ui-grid-col-12 {
        width: 100%;
        float: none;
    }
}

.ui-grid.ui-grid-pad > .ui-grid-row > div {
    padding: 4px 10px;
}

/* Responsive */
@media (max-width: 640px) {
    .ui-grid-responsive .ui-grid-row {
        display: block;
    }
    
    .ui-grid-responsive .ui-grid-col-1,
    .ui-grid-responsive .ui-grid-col-2,
    .ui-grid-responsive .ui-grid-col-3,
    .ui-grid-responsive .ui-grid-col-4,
    .ui-grid-responsive .ui-grid-col-5,
    .ui-grid-responsive .ui-grid-col-6,
    .ui-grid-responsive .ui-grid-col-7,
    .ui-grid-responsive .ui-grid-col-8,
    .ui-grid-responsive .ui-grid-col-9,
    .ui-grid-responsive .ui-grid-col-10,
    .ui-grid-responsive .ui-grid-col-11,
    .ui-grid-responsive .ui-grid-col-12 {
        width: 100%;
        float: none;
    }
}

/* New Grid CSS */
.ui-g {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}
            
.ui-g:after {
    clear: both;
    content: "";
    display: table;
}
            
.ui-g-1,
.ui-g-2,
.ui-g-3,
.ui-g-4,
.ui-g-5,
.ui-g-6,
.ui-g-7,
.ui-g-8,
.ui-g-9,
.ui-g-10,
.ui-g-11,
.ui-g-12 {
    float: left;
    box-sizing: border-box;
    padding: 0.5em;
}

.ui-g-1 {
    width: 8.3333%;
}

.ui-g-2 {
    width: 16.6667%;
}

.ui-g-3 {
    width: 25%;
}

.ui-g-4 {
    width: 33.3333%;
}

.ui-g-5 {
    width: 41.6667%;
}

.ui-g-6 {
    width: 50%;
}

.ui-g-7 {
    width: 58.3333%;
}

.ui-g-8 {
    width: 66.6667%;
}

.ui-g-9 {
    width: 75%;
}

.ui-g-10 {
    width: 83.3333%;
}

.ui-g-11 {
    width: 91.6667%;
}

.ui-g-12 {
    width: 100%;
}

@media screen and (max-width: 40em) {
    .ui-sm-1,
    .ui-sm-2,
    .ui-sm-3,
    .ui-sm-4,
    .ui-sm-5,
    .ui-sm-6,
    .ui-sm-7,
    .ui-sm-8,
    .ui-sm-9,
    .ui-sm-10,
    .ui-sm-11,
    .ui-sm-12 {
        padding: 0.5em;
    }

    .ui-sm-1 {
        width: 8.3333%;
    }

    .ui-sm-2 {
        width: 16.6667%;
    }

    .ui-sm-3 {
        width: 25%;
    }

    .ui-sm-4 {
        width: 33.3333%;
    }

    .ui-sm-5 {
        width: 41.6667%;
    }

    .ui-sm-6 {
        width: 50%;
    }

    .ui-sm-7 {
        width: 58.3333%;
    }

    .ui-sm-8 {
        width: 66.6667%;
    }

    .ui-sm-9 {
        width: 75%;
    }

    .ui-sm-10 {
        width: 83.3333%;
    }

    .ui-sm-11 {
        width: 91.6667%;
    }

    .ui-sm-12 {
        width: 100%;
    }
}

@media screen and (min-width: 40.063em) {
    .ui-md-1,
    .ui-md-2,
    .ui-md-3,
    .ui-md-4,
    .ui-md-5,
    .ui-md-6,
    .ui-md-7,
    .ui-md-8,
    .ui-md-9,
    .ui-md-10,
    .ui-md-11,
    .ui-md-12 {
        padding: 0.5em;
    }

    .ui-md-1 {
        width: 8.3333%;
    }

    .ui-md-2 {
        width: 16.6667%;
    }

    .ui-md-3 {
        width: 25%;
    }

    .ui-md-4 {
        width: 33.3333%;
    }

    .ui-md-5 {
        width: 41.6667%;
    }

    .ui-md-6 {
        width: 50%;
    }

    .ui-md-7 {
        width: 58.3333%;
    }

    .ui-md-8 {
        width: 66.6667%;
    }

    .ui-md-9 {
        width: 75%;
    }

    .ui-md-10 {
        width: 83.3333%;
    }

    .ui-md-11 {
        width: 91.6667%;
    }

    .ui-md-12 {
        width: 100%;
    }
}

@media screen and (min-width: 64.063em) {
    .ui-lg-1,
    .ui-lg-2,
    .ui-lg-3,
    .ui-lg-4,
    .ui-lg-5,
    .ui-lg-6,
    .ui-lg-7,
    .ui-lg-8,
    .ui-lg-9,
    .ui-lg-10,
    .ui-lg-11,
    .ui-lg-12 {
        padding: 0.5em;
    }

    .ui-lg-1 {
        width: 8.3333%;
    }

    .ui-lg-2 {
        width: 16.6667%;
    }

    .ui-lg-3 {
        width: 25%;
    }

    .ui-lg-4 {
        width: 33.3333%;
    }

    .ui-lg-5 {
        width: 41.6667%;
    }

    .ui-lg-6 {
        width: 50%;
    }

    .ui-lg-7 {
        width: 58.3333%;
    }

    .ui-lg-8 {
        width: 66.6667%;
    }

    .ui-lg-9 {
        width: 75%;
    }

    .ui-lg-10 {
        width: 83.3333%;
    }

    .ui-lg-11 {
        width: 91.6667%;
    }

    .ui-lg-12 {
        width: 100%;
    }
}

@media screen and (min-width: 90.063em) {
    .ui-xl-1,
    .ui-xl-2,
    .ui-xl-3,
    .ui-xl-4,
    .ui-xl-5,
    .ui-xl-6,
    .ui-xl-7,
    .ui-xl-8,
    .ui-xl-9,
    .ui-xl-10,
    .ui-xl-11,
    .ui-xl-12 {
        padding: 0.5em;
    }

    .ui-xl-1 {
        width: 8.3333%;
    }

    .ui-xl-2 {
        width: 16.6667%;
    }

    .ui-xl-3 {
        width: 25%;
    }

    .ui-xl-4 {
        width: 33.3333%;
    }

    .ui-xl-5 {
        width: 41.6667%;
    }

    .ui-xl-6 {
        width: 50%;
    }

    .ui-xl-7 {
        width: 58.3333%;
    }

    .ui-xl-8 {
        width: 66.6667%;
    }

    .ui-xl-9 {
        width: 75%;
    }

    .ui-xl-10 {
        width: 83.3333%;
    }

    .ui-xl-11 {
        width: 91.6667%;
    }

    .ui-xl-12 {
        width: 100%;
    }
}

.ui-g-nopad {
    padding: 0px;
}
/* ie6 */
* html .ui-growl {
	position:absolute; 
}
* html .ui-growl-item {
	padding-bottom:0;
}
* html .ui-growl-icon-close {
	top:7px;
	right:7px;
}

.ui-growl {
	position:fixed;
	top:20px;
	right:20px;
	width:301px;
}
.ui-growl-item-container {
	position:relative;
	margin:0 0 10px 0;
	opacity:0.85;
	filter:alpha(opacity=85);
}
.ui-growl-item {
	display:block;
	padding:10px 15px;
}
.ui-growl-item p {
	padding:0;
	margin:0;
}
.ui-growl-icon-close {
	position:absolute;
	top:5px;
	right:3px;
	cursor:pointer;
}
.ui-growl-title {
	font-weight:bold;
	padding:0 0 7px 0;
	display:block;
}
.ui-growl-image {
	float:left;
    margin-left: 5px;
    padding:0;
    display: block;
}

.ui-growl-message {
	padding:0 0 5px 0;
	width:220px;
	float:right;
}

.ui-growl-message p {
	font-weight: normal;
}
.ui-inputtext {
    margin: 0;
    outline: medium none;
    padding: 4px;
    font-weight: normal;
}

.ui-widget-header .ui-inputtext,
.ui-widget-content .ui-inputtext {
    font-weight: normal;
}

.ui-fluid .ui-inputtext {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.ui-inputtextarea-resizable {
    overflow: hidden;
    resize:none;
}

.ui-fluid .ui-inputtextarea {
    width: 100%;
}
.ui-lightbox {
    position: fixed;
}

.ui-lightbox-content-wrapper {
    position: relative;
}

.ui-lightbox-content {
    position: relative;
    margin:0;
    padding: 0;
    background-color: #000000;
}

.ui-lightbox-nav-right, .ui-lightbox-nav-left {
   position: absolute;
   top:50%;
   cursor: pointer;
}

.ui-lightbox-nav-left {
   left:0;
}

.ui-lightbox-nav-right {
   right:0;
}

.ui-lightbox-loading {
    background: url("./images/loading.gif") #000000 center center no-repeat;
}

.ui-lightbox-caption {
    padding: 0.2em 0.4em;
    display: none;
}

.ui-lightbox-caption-text {
    margin: 0.3em 0 0.1em 0;
    float:left;
}

.ui-lightbox-close {
    float:right;
    margin:0;
    padding:1px;
}

.ui-lightbox-close.ui-state-hover {
    padding: 0;
}

.ui-lightbox-nav-left, .ui-lightbox-nav-right {
    opacity: .5;
}

.ui-lightbox-nav-left:hover, .ui-lightbox-nav-right:hover{
    opacity: 1;
}
.ui-listbox {
    overflow:auto;
    padding:2px;
    width:125px;
}

.ui-listbox .ui-listbox-list {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.ui-listbox .ui-listbox-item {
    padding:2px;
    border:0 none;
    cursor: pointer;
    font-weight: normal;
}

.ui-listbox.ui-state-disabled .ui-listbox-item {
    cursor: default;
}
.ui-menu {
    width: 12.5em;
    padding:0.3em;
    position:relative;
}

.ui-menu.ui-menu-dynamic {
    position: absolute;
    display: none;
    z-index: 100000;
}

.ui-menu-list {
    position:static;
}

.ui-menu .ui-menu-list .ui-menuitem {
    border:none;
}

.ui-menu .ui-menu-list .ui-widget-header {
    clear:both;
    float:left;
    width:98%;
    margin:1px 0;
}

.ui-menu .ui-menuitem {
    width:100%;
    float:left;
    clear:both;
    margin:1px 0;
    padding:0;
}

.ui-menu .ui-menuitem-parent {
    width:100%;
    float:left;
    clear:both;
    margin:1px 0;
    padding:0;
}

.ui-menu .ui-menuitem-link {
    display:block;
    width:92%;
    outline:none;
    text-decoration:none;
    font-weight:400;
    border:solid 1px transparent;
    float:left;
    line-height:16px;
    padding:0.3em;
    cursor: pointer;
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon {
    display:inline-block;
    float:left;
}

.ui-menu .ui-menuitem-text {
    float:left;
}

.ui-menu .ui-widget-header h1,
.ui-menu .ui-widget-header h2,
.ui-menu .ui-widget-header h3,
.ui-menu .ui-widget-header h4,
.ui-menu .ui-widget-header h5,
.ui-menu .ui-widget-header h6 {
    float:left;
    display:block;
    font-size:1em;
    margin:0 auto;
    padding:0.3em 3%;
}

.ui-menu .ui-menu-parent .ui-menu-child {
    display:none;
    width:12.5em;
    padding:0.3em;
    position:absolute;
    margin:0; 
    outline:0; 
    line-height:1.3; 
    text-decoration:none; 
    font-size:100%; 
    list-style:none;
}

.ui-menu .ui-menu-parent {
    position:relative;
}

.ui-menu .ui-menu-parent .ui-submenu-icon {
    float:right;
    margin-right: -5px;
}

.ui-menubutton {
    padding:0;
}

.ui-menubutton .ui-button {
    margin:0;
}

/** Menubar **/
.ui-menubar {
    width:auto;
}

.ui-menubar .ui-menuitem {
    width:auto;
    clear:none;
}

.ui-menubar .ui-menu-child .ui-menuitem {
    width:100%;
}

.ui-menubar .ui-menu-child {
    top:25px;
    left:0;
}

.ui-menubar .ui-menuitem-link {
    width:auto;
    padding:0.4em 0.3em;
}

.ui-menubar .ui-menu-child .ui-menuitem-link {
    width:92%;
}

.ui-menubar .ui-widget-header {
    clear:none;
    width:auto;
    margin:0 3px 0 0;
}

.ui-menubar .ui-widget-header h1,
.ui-menubar .ui-widget-header h2,
.ui-menubar .ui-widget-header h3,
.ui-menubar .ui-widget-header h4,
.ui-menubar .ui-widget-header h5,
.ui-menubar .ui-widget-header h6 {
    padding:0.4em 0.3em;
}

.ui-menubar .ui-menubar-options {
    float: right;
}

.ui-menu .ui-separator {
    width:98%;
    height:0px;
    float:left;
    clear:both;
    margin:1px 0 0 0;
    padding:0;
    border-top: 0px none;
}

/** Breadcrumb **/
.ui-breadcrumb {
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 5px 5px 7px 5px;
}

.ui-breadcrumb ul {
    margin: 0;
    padding: 0;
    display: block;
}

.ui-breadcrumb ul li {
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
}

.ui-breadcrumb ul li span {
    display: block;
    overflow: hidden;
}

.ui-breadcrumb ul li .ui-menuitem-link {
    display: block;
    position: relative;
    overflow: hidden;
    float: left; 
    margin-top:3px;
}

.ui-breadcrumb ul li.fa {
    padding: 0;
    margin: 4px 3px 0px 3px;
}

.ui-breadcrumb-chevron {
    float:left;
}
           
/** SlideMenu **/
.ui-slidemenu .ui-slidemenu-wrapper {
    position: relative;
}

.ui-slidemenu .ui-slidemenu-content {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.ui-slidemenu .ui-menu-list {
    position: absolute;
    top: 0;
}

.ui-slidemenu .ui-menu-parent {
    position: static;
}

.ui-slidemenu .ui-menu-child {
    box-shadow : none;
    border: 0 none;
    background: none repeat scroll 0 0 transparent;
}

.ui-slidemenu-backward {
    position: absolute;
    bottom: 0;
    width: 95%;
    margin-bottom: 0.4em;
    padding: 0.2em;
    cursor: pointer;
    display: none;
}

.ui-slidemenu-backward .fa {
    float:left;
    margin-top: 1px;
}

/** Fluid **/
.ui-fluid .ui-menu {
    width: 100%;
}


/** MegaMenu **/
.ui-megamenu .ui-megamenu-panel.ui-menu-child {
    width: auto;
}

.ui-megamenu .ui-megamenu-panel .ui-menu-list {
    width: 12.5em;
}

.ui-megamenu-vertical {
    width: 12.5em;
}

.ui-megamenu-vertical .ui-menuitem-link,
.ui-megamenu-vertical .ui-menu-list .ui-menuitem {
    width: 100%;
    box-sizing: border-box;
}

/** PanelMenu **/
.ui-panelmenu {
    width: auto;
}

.ui-panelmenu .ui-panelmenu-panel {
    padding: 0;
    margin: 0;
}

.ui-panelmenu .ui-panelmenu-header {
    cursor: pointer;
    position: relative;
    margin: 0;
    zoom: 1;
}

.ui-panelmenu .ui-panelmenu-header a {
    display: block;
    padding: .5em .5em .5em 2.2em;
}

.ui-panelmenu .ui-panelmenu-header .fa {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}

.ui-panelmenu .ui-panelmenu-header .ui-menuitem-icon.fa {
    left: 1.5em;
}

.ui-panelmenu .ui-panelmenu-content {
    padding: 0.2em 0;
    border-top: 0;
    margin-top: -2px;
    position: relative;
    top: 1px;
    overflow: auto;
    zoom: 1;
    outline: none;
}

.ui-panelmenu .ui-panelmenu-header.ui-state-disabled,
.ui-panelmenu .ui-panelmenu-header.ui-state-disabled a {
    cursor: default;
}

.ui-panelmenu .ui-menu-list {
    position: static;
}

.ui-panelmenu .ui-menuitem {
    margin:1px 0;
    padding:0;
}

.ui-panelmenu .ui-menuitem-link {
    display:block;
    outline:none;
    text-decoration:none;
    font-weight:400;
    border:solid 1px transparent;
    line-height:16px;
    cursor: pointer;
    position: relative;
    padding: 0.3em 0.3em 0.3em 2em;
}

.ui-panelmenu .ui-menu-parent .ui-menuitem-link-hasicon,
.ui-panelmenu .ui-panelmenu-header a.ui-panelmenu-headerlink-hasicon {
    padding-left: 2.8em;
}

.ui-panelmenu .fa {
    position: absolute;
    right: auto;
    top: 4px;
    bottom: 0;
    margin: auto 0;
    left: 0.5em;
}

.ui-panelmenu .ui-menu-parent > .ui-menuitem-link > .fa {
    left: 1.5em;
}

.ui-panelmenu .ui-menu-parent .ui-panelmenu-icon.fa {
    left: 0.5em;
}

.ui-panelmenu .ui-menuitem-text {
    float: none;
}

.ui-panelmenu .ui-menu-parent .ui-menu-list {
    margin-left: 20px;
}

/** MegaMenu and TieredMenus **/
.ui-menuitem-active > .ui-submenu > ul,
.ui-menuitem-active > .ui-megamenu-panel {
    display: block !important;
}

.ui-menuitem-outline {
    outline: 1px dotted;
    z-index: 1;
}

/** TabMenu **/
.ui-tabmenu { 
    position: relative; 
    zoom: 1; 
}

.ui-tabmenu .ui-tabmenu-nav { 
    margin: 0;
    padding: .2em .2em 0; 
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem { 
    list-style: none; 
    float: left; 
    position: relative; 
    margin: 0 .2em 1px 0;  
    padding: 0; 
    white-space: nowrap;
    display: block;
    border-bottom: 0;
    top: 1px; 
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a { 
    float: left; 
    padding: 0.5em 1em;
    text-decoration: none; 
}

.ui-tabmenu .ui-tabmenu-nav a { 
    padding: 0.5em 1em;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-icon { 
    float: left; 
    cursor: pointer; 
}
.ui-messages {
    border: 1px solid;
    margin: 10px 0px;
    padding: 20px 20px 20px 10px;
    display: none;
    position: relative;
}

.ui-messages-icon {
    display:block;
    float:left;
    margin-top:-5px;
    padding:0;
    position: relative;
}

.ui-messages-summary {
    margin-left:10px;
    font-weight:bold;
}

.ui-messages-detail {
    margin-left:5px;
}

.ui-messages-info {
    color: #ffffff;
    background-color: #2196f3;
    border-color: #2196f3;
}

.ui-messages-warn {
    color: #ffffff;
    background-color: #ff9800;
    border-color: #ff9800;
}

.ui-messages-error {
    color: #ffffff;
    background-color: #f44336;
    border-color: #f44336;
}

.ui-messages ul {
    margin: 0 25px;
    padding:0;
    list-style-type:none;
}

.ui-messages.ui-messages-noicon ul {
    margin: 0 25px 0 0;
}

.ui-messages .ui-messages-close {
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Message */
.ui-message {
    border: 1px solid;
    margin: 0px 5px;
    padding: 2px 5px;
}
/** MultiSelect **/
.ui-multiselect {
    display: inline-block;
    position: relative;
    width: auto;
    zoom: 1;
    cursor: pointer;
}

.ui-multiselect .ui-multiselect-trigger {
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    width: 16px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;
}

.ui-multiselect .ui-multiselect-trigger  .fa {
    margin-top: 3px;
}

.ui-multiselect .ui-multiselect-label-container  {
    overflow: hidden;
}

.ui-multiselect .ui-multiselect-label  {
    display: block;
    padding: 3px 26px 3px 5px;
    width: auto;
    border: none;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ui-multiselect.ui-state-disabled .ui-multiselect-trigger,
.ui-multiselect.ui-state-disabled .ui-multiselect-label {
    cursor: auto
}

.ui-multiselect .ui-multiselect-panel {
    padding: 0.2em;
    position: absolute;
    min-width: 100%;
}

.ui-multiselect-panel .ui-multiselect-items-wrapper {
    overflow: auto;
    position: relative;
    padding: 0.2em 0;
}

.ui-multiselect-panel .ui-multiselect-list {
    border: 0 none;
}

.ui-multiselect-panel .ui-multiselect-item {
    border:0px none;
    cursor:pointer;
    font-weight:normal;
    margin:1px 0;
    padding:4px;
    text-align:left;
    white-space: nowrap;
    display: block;
    position: relative;
}

.ui-multiselect-panel .ui-multiselect-item .ui-chkbox {
    position: absolute;
    top:50%;
    margin-top:-8px;
}

.ui-multiselect-panel .ui-multiselect-item label {
    display: block;
    padding-left: 25px;
    padding-top: 3px;
    cursor:pointer;
}

.ui-multiselect-header {
    margin-bottom: 0.3em;
    padding: 0.3em 0 0.3em 0.4em;
    position: relative;
}

.ui-multiselect-header .ui-chkbox {
    position: absolute;
    top: 5px;
    left: 5px;
    cursor:pointer;
}

.ui-multiselect-header .ui-multiselect-filter-container {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.ui-multiselect-header .ui-multiselect-filter-container .fa {
    position: absolute;
    left: 5px;
    top: 3px;
}
            
.ui-multiselect-header .ui-inputtext {
    padding: 1px 1px 1px 25px;
}

.ui-multiselect-header .ui-multiselect-close {
    position: absolute;
    right: 2px;
    top: 4px;
    display: block;
    font-size: 18px;
    border: 0px none;
}

.ui-multiselect-header a.ui-multiselect-all,
.ui-multiselect-header a.ui-multiselect-none {
    float:left;
    margin-right: 10px;
    display: block;
}

.ui-multiselect-header .ui-multiselect-close.ui-state-hover {
    padding:0px;
}

.ui-fluid .ui-multiselect {
    width: 100%;
    box-sizing: border-box;
}

.ui-multiselectlistbox-listcontainer {
    padding: 2px;
    width: 150px;
}

.ui-multiselectlistbox-listcontainer {
    overflow:auto;
}

.ui-multiselectlistbox .ui-multiselectlistbox-list {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.ui-multiselectlistbox .ui-multiselectlistbox-item {
    margin: 2px;
    border: 0 none;
    cursor: pointer;
    font-weight: normal;
}

.ui-multiselectlistbox .ui-multiselectlistbox-listcontainer {
    float: left;
    margin-right: 4px;
}

.ui-multiselectlistbox .ui-multiselectlistbox-item {
    white-space: nowrap;
}

.ui-multiselectlistbox.ui-state-disabled .ui-multiselectlistbox-item {
    cursor: default;
}

.ui-multiselectlistbox .ui-multiselectlistbox-header {
    text-align: center;
    padding: 2px 10px;
    border-bottom: 0px none;
}
.ui-notify {
	position: fixed;
	width: 100%;
	height: 100px;
	display: none;
	padding: 10px;
}

.ui-notify-top {
    top: 0;
}

.ui-notify-bottom {
    bottom: 0;
}
 
.ui-notify-close {
	position: absolute;
	right: 3em;
	top: 1em;
	cursor: pointer;
    opacity: 0.5;
}

.ui-notify-close:hover {
    opacity: 1.0;
}
.ui-orderlist {
    display: table;
}

.ui-orderlist .ui-orderlist-caption {
    width:200px;
}

.ui-orderlist .ui-orderlist-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:auto;
    height:200px;
    width:200px;
}

.ui-orderlist .ui-orderlist-list li {
    margin: 1px;
    padding: 2px;
}

.ui-orderlist .ui-button {
    display:block;
    margin-bottom:0.3em;
}

.ui-orderlist .ui-orderlist-button.ui-button-text-icon-primary {
    width:100%;
}

.ui-orderlist .ui-orderlist-item {
    cursor:pointer;
    border:0px none;
    font-weight: inherit;
}

.ui-orderlist .ui-orderlist-caption {
    text-align: center;
    padding:4px 0px;
    border-bottom:0px none;
}

.ui-orderlist table {
    width:100%;
    border-collapse:collapse;
}

.ui-orderlist.ui-state-disabled .ui-orderlist-item,
.ui-orderlist.ui-state-disabled .ui-button {
    cursor: default;
}

.ui-orderlist.ui-state-disabled .ui-orderlist-list {
    overflow:hidden;
}

/* Responsive */
.ui-orderlist.ui-grid-responsive {
    display: block;
    width: 100%;
}

.ui-orderlist.ui-grid-responsive .ui-orderlist-controls {
    margin-right: 10px;
}

.ui-orderlist.ui-grid-responsive .ui-orderlist-list,
.ui-orderlist.ui-grid-responsive .ui-orderlist-caption {
    width: 100%;
}  

.ui-orderlist.ui-grid-responsive .ui-orderlist-controls .ui-button {
    width: 100%;
}

@media (max-width: 640px) { 
    .ui-orderlist.ui-grid-responsive .ui-orderlist-controls {
        text-align: center;
    }

    .ui-orderlist.ui-grid-responsive .ui-orderlist-controls .ui-button {
        display: inline;
        width: 20%;
    }
}
.ui-overlaypanel {
    padding: 0;
    margin: 0;
    position: absolute;
}

.ui-overlaypanel-content {
    padding: 0.5em 1em;
}

.ui-overlaypanel-close {
    position: absolute;
    top: -10px;
    right: -10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.ui-paginator {
    margin:0px;
    text-align: center;
    padding:2px;
}

.ui-paginator .ui-paginator-top {
    border-bottom:0px none;
}

.ui-paginator .ui-paginator-bottom {
    border-top:0px none;
}

.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-pages,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev,
.ui-paginator .ui-paginator-current {
	display: inline-block;
	padding: 2px 6px;
	zoom: 1;
	margin-left: 1px;
	margin-right: 1px;
	text-decoration: none;
	outline: none;
}

.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev{
    cursor: pointer;
}

.ui-paginator .ui-paginator-current,
.ui-paginator .ui-paginator-rpp-options {
	margin-left: 1em;
	margin-right: 1em;
    background-image: none;
}

.ui-paginator .ui-paginator-jtp-select option,
.ui-paginator .ui-paginator-rpp-options option {
    background-image: none;
    border:0 none;
    box-shadow:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.ui-panel {
	padding: 0.2em;
}

.ui-panel .ui-panel-titlebar {
	padding: 0.5em 1em 0.3em;
}

.ui-panel .ui-panel-title {
	margin: 0.1em 16px 0.2em 0;
}

.ui-panel .ui-panel-titlebar-icon {
	float: right;
    cursor: pointer;
}

.ui-panel .ui-panel-titlebar-icon,
.ui-panel .ui-panel-titlebar-icon:hover,
.ui-panel .ui-panel-titlebar-icon:focus {
	margin-left:0.2em;
    margin-top:-0.1em;
    *margin:-1.5em 0em 0em 0.2em;
}

.ui-panel .ui-panel-content {
	border: 0;
    background: none;
	padding: 0.5em 1em;
}

.ui-panel .ui-panel-footer {
	border-width:1px 0 0;
	margin:0.5em 0 0;
	padding:0.5em 1em;
	text-align:left;
}

.ui-panel-collapsed-h .ui-panel-titlebar-icon,
.ui-panel-collapsed-h .ui-panel-titlebar-icon:hover,
.ui-panel-collapsed-h .ui-panel-titlebar-icon:focus {
    *margin:-0.2em 0em 0em 0.1em;
}

.ui-panel.ui-panel-collapsed-h {
    width: 42px;
}

.ui-panel.ui-panel-collapsed-h .ui-panel-title {
    display:none;
}            
.ui-password-panel {
    padding: 4px 10px;
    width: 150px;
    margin-top: 2px;
}

.ui-password-panel .ui-password-meter { 
    height: 10px; 
    background:transparent url("./images/password-meter.png") no-repeat left top; 
    padding: 0;
    margin: 0;
}

.ui-password-info { 
    margin-top: 4px;
}

.ui-password-panel-overlay { 
    position: absolute; 
}
.ui-picklist > div {
    float: left;
}

.ui-picklist .ui-picklist-buttons {
    height: 200px;
    padding: 0px 5px;
}

.ui-picklist .ui-picklist-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:auto;
    height:200px;
    width:200px;
}

.ui-picklist .ui-picklist-list li {
    margin: 1px;
    padding: 2px;
}

.ui-picklist .ui-button {
    display:block;
    margin-bottom:0.3em;
}

.ui-picklist .ui-button-text-icon-left {
    width: 100%;
}

.ui-picklist .ui-picklist-item {
    cursor:pointer;
    border:0px none;
    font-weight: inherit;
}

.ui-picklist .ui-picklist-caption {
    text-align: center;
    padding: 4px 0px;
    border-bottom:0px none;
}

.ui-picklist table {
    width:100%;
    border-collapse:collapse;
}

.ui-picklist .ui-picklist-filter {
    padding-right: 15px;
    width: 100%;
    box-sizing: border-box;
}

.ui-picklist .ui-picklist-filter-container {
    position: relative;
    margin: 0;
    padding: 0;
}

.ui-picklist .ui-picklist-filter-container .fa {
    position: absolute;
    top: 5px;
    right: 2px;
}

.ui-picklist {
    display: table;
}

.ui-picklist > div {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.ui-picklist .ui-picklist-buttons {
    vertical-align: middle;
}

/* Vertical */
.ui-picklist.ui-picklist-vertical {
    display: table;
}

.ui-picklist.ui-picklist-vertical > div {
    float: none;
    display: table-row;
    vertical-align: top;
}

.ui-picklist.ui-picklist-vertical .ui-picklist-buttons {
    text-align:center;
    height: auto;
}

.ui-picklist.ui-picklist-vertical .ui-picklist-buttons .ui-button {
    display: inline-block;
}

.ui-picklist.ui-picklist-vertical .ui-button {
    margin-top: 0.3em;
}

.ui-picklist-outline {
    outline: 1px dotted black;
    z-index: 1;
}

.ui-picklist-list.ui-picklist-source,
.ui-picklist-list.ui-picklist-target {
    outline: none;
}

/* Responsive */
.ui-picklist.ui-picklist-responsive * {
    box-sizing: border-box;
}

.ui-picklist.ui-picklist-responsive {
    width: 100%;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-listwrapper {
    width: 35%;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-buttons {
    width: 10%;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-buttons button {
    width: 100%;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-list {
    width: auto;
}

.ui-picklist.ui-picklist-responsive .ui-chkbox-box {
    width: 18px;
    height: 18px;
}
        
/* Responsive */
@media (max-width: 640px) {
    .ui-picklist.ui-picklist-responsive {
        display: block;
    }
    
    .ui-picklist.ui-picklist-responsive > div {
        display: block;
        width: 100% !important;
    }
    
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons {
        text-align: center;
        height: auto;
        padding: 5px 0px;
    }
    
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons button {
        display: inline;
        width: 20%;
    }
    
    .ui-picklist.ui-picklist-responsive .ui-picklist-source-controls.ui-picklist-buttons {
        padding-bottom: 5px;
    }
    
    .ui-picklist.ui-picklist-responsive .ui-picklist-target-controls.ui-picklist-buttons {
        padding-top: 5px;
    }
    
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons .fa-angle-right:before {
        content: "\f107";
    }
    
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons .fa-angle-double-right:before {
        content: "\f103";
    }
    
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons .fa-angle-left:before {
        content: "\f106";
    }
    
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons .fa-angle-double-left:before {
        content: "\f102";
    }
}

.ui-progressbar { 
    height: 1.5em !important; 
    text-align: left; 
    position: relative;
    border-radius: 4px !important;
}

.ui-progressbar .ui-progressbar-value {
    margin: -1px; 
    height: 100%;
    width: 0%;
    position: absolute;
    display: none;
}

.ui-progressbar .ui-progressbar-value-animate {
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.ui-progressbar .ui-progressbar-label {
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    font-weight: bold;
}

.ui-radiobutton {
    position: relative;
    width: 16px;
    margin: 2px 0;
    line-height: 16px;
    cursor: pointer;
}

.ui-radiobutton .ui-radiobutton-box {
    width: 16px;
    height: 16px;
    line-height: 16px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.ui-radiobutton-icon {
    font-size: 10px;
    margin-top: 3px;
    margin-left: 2px;
    display: block;
}
 
.ui-radiobutton, .ui-radiobutton-label {
    vertical-align: middle;
    display: inline-block;
}

.ui-radiobutton-label {
    margin-left: 3px;
}

.ui-rating-star,
.ui-rating-cancel {
    float: left;
    display: block;
    overflow: hidden;
    text-indent: -999em;
    cursor: pointer;
}

.ui-rating-star a,
.ui-rating-cancel a {
    width: 16px;
    height: 15px;
    display: block;
    background: url("./images/rating.png") no-repeat 0 0;
}

.ui-rating-star a {
    background-position: 0 -32px;
}

.ui-rating-star-on a {
    background-position: 0 -48px;
}

.ui-rating-star-hover a {
    background-position: 0 -64px;
}

.ui-rating-cancel-hover a {
    background-position: 0 -16px;
}

.ui-rating.ui-state-disabled .ui-rating-star,
.ui-rating.ui-state-disabled .ui-rating-cancel {
    cursor: default;    
}

.ui-selectbutton{
    display: inline-block;
    padding:1px;
}
            
.ui-selectbutton.ui-state-error{
    padding:0px;
}

.ui-selectbutton .ui-button.ui-state-focus{
    outline: none;
}
.ui-spinner {
    display: inline-block;
    overflow: visible;
    padding: 0;
    position: relative;
    vertical-align: middle;
}
.ui-spinner-input {
    vertical-align: middle;
    text-align: right;
    padding-right: 20px;
}
.ui-spinner-button {
    cursor: default;
    display: block;
    font-size: 0.5em;
    height: 50%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    z-index: 100;
}
.ui-spinner .fa {
    left: -1px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-spinner-up {
    top: 0;
}
.ui-spinner-down {
    bottom: 0;
}

/* Fluid */
.ui-fluid .ui-spinner {
    width: 100%;
}
.ui-fluid .ui-spinner .ui-spinner-input {
    padding-right: 36px;
    width: 100%;
}
.ui-fluid .ui-spinner .ui-spinner-button {
    width: auto;
}
.ui-fluid .ui-spinner .ui-spinner-button .fa {
    left: 6px;
}
.ui-splitbutton {
    position: relative;
    padding-right: 2em;
}

.ui-splitbutton .ui-button.ui-splitbutton-menubutton {
    width: 32px;
    position: absolute;
    top: 0px;
    margin-left: -1px;
    right: 0px;
}

.ui-splitbutton {
    display: inline-block;
    zoom: 1;
}

.ui-fluid .ui-splitbutton {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.ui-fluid .ui-splitbutton .ui-button {
    width: 100%;
}

.ui-fluid .ui-splitbutton .ui-button.ui-splitbutton-menubutton {
    width: 32px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.ui-inputswitch {
	display: inline-block;
	padding: 0;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    height: 24px;
}

.ui-inputswitch .ui-inputswitch-on,
.ui-inputswitch .ui-inputswitch-off {
	white-space: nowrap;
    display: block;
    position: absolute;
	top: 0;
    width: auto;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
	font-weight: bold;
	height: 20px;
	padding-top: 4px;
}

.ui-inputswitch .ui-inputswitch-off {
	right: 0;
	text-align: right;
}

.ui-inputswitch .ui-inputswitch-off span {
	display: inline-block;
	text-align: center;
	padding-left: 2px;
	padding-right: 3px;
}

.ui-inputswitch .ui-inputswitch-on {
	left: 0;
	padding-right: 4px;
    border: 0 none;
}

.ui-inputswitch .ui-inputswitch-on span {
	display: inline-block;
	text-align: center;
	padding-left: 3px;
	padding-right: 2px;
}

.ui-inputswitch .ui-inputswitch-handle {
	display: block;
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
    height: 24px;
    border-top: 0 none;
    border-bottom: 0 none;
}
.ui-tabview {
    position: relative; 
    padding: .2em; 
    zoom: 1; 
} /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */

.ui-tabview .ui-tabview-nav { 
    margin: 0;
}

.ui-tabview .ui-tabview-nav li { 
    list-style: none; 
    float: left; 
    position: relative; 
    margin: 0 .2em 1px 0;  
    padding: 0; 
    white-space: nowrap; 
}

.ui-tabview .ui-tabview-nav li a { 
    float: left; 
    padding: .5em 1em; 
    text-decoration: none; 
}

.ui-tabview .ui-tabview-nav li.ui-tabview-selected a, 
.ui-tabview .ui-tabview-nav li.ui-state-disabled a, 
.ui-tabview .ui-tabview-nav li.ui-state-processing a { 
    cursor: text; 
}

.ui-tabview .ui-tabview-nav li a, 
.ui-tabview.ui-tabview-collapsible .ui-tabview-nav li.ui-tabview-selected a { 
    cursor: pointer; 
} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

.ui-tabview .ui-tabview-panel { 
    border-width: 0; 
    padding: 1em 1.4em; 
    background: none; 
}

.ui-tabview .ui-tabview-nav li { 
    display: block; 
}

.ui-tabview .ui-tabview-nav li .ui-tabview-left-icon,
.ui-tabview .ui-tabview-nav li .ui-tabview-right-icon { 
    vertical-align: text-top;
}

.ui-tabview .ui-tabview-nav li .ui-tabview-close { 
    margin: 0.5em 0.3em 0 0; 
    cursor: pointer; 
}

/* per orientation settings */
/* top and bottom */
.ui-tabview.ui-tabview-top > .ui-tabview-nav li { 
    border-bottom: 0;
    top: 1px; 
}

.ui-tabview.ui-tabview-top > .ui-tabview-nav { 
    padding: .2em .2em 0; 
}

.ui-tabview.ui-tabview-bottom > .ui-tabview-nav { 
    padding: 0 .2em .2em; 
}

.ui-tabview.ui-tabview-bottom > .ui-tabview-nav li { 
    border-top: 0;
}

/* left and right*/
.ui-tabview-left:after,
.ui-tabview-right:after {
    clear:both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.ui-tabview-left > .ui-tabview-nav {
    float:left;
    width:23%;
    height:300px;
    background-image: none;
    padding-top:1px;
}

.ui-tabview-left > .ui-tabview-panels {
    float:right;
    width:75%;
}

.ui-tabview.ui-tabview-left > .ui-tabview-nav li,
.ui-tabview.ui-tabview-right > .ui-tabview-nav li{
    display: block;
    float: right;
    white-space: normal;
    width: 98%;
}

.ui-tabview.ui-tabview-left > .ui-tabview-nav li {
    margin:0 0 1px 0.2em;
    border-right:0 none;
}

.ui-tabview.ui-tabview-right > .ui-tabview-nav {
    float:right;
    width:23%;
    height:300px;
    background-image: none;
    padding-top:1px;
}

.ui-tabview.ui-tabview-right > .ui-tabview-panels {
    float:left;
    width:75%;
}

.ui-tabview.ui-tabview-right > .ui-tabview-nav li {
    margin:0 0.2em 1px 0;
    border-left:0 none;
}
.ui-terminal {
    height: 300px;
    overflow: auto;
    padding: 3px;
}

.ui-terminal-input {
    border: 0 none;
    background-color: transparent;
    color: inherit;
    padding: 0;
    margin: 0 0 0 2px;
    width: 75%;
    outline: none;
    vertical-align: baseline;
}

.ui-terminal-command {
    margin-left: 2px;
    -moz-margin-start: 3px;
}

.ui-terminal-input::-ms-clear {
    display: none;
}
.ui-toolbar {
    padding:.2em
}

.ui-toolbar-group-left {
    float:left
}

.ui-toolbar-group-right {
    float:right
}
.ui-tooltip {
    position:absolute;
    display:none;
    padding:3px 5px;
}

.ui-tooltip.ui-tooltip-right,
.ui-tooltip.ui-tooltip-left {
    padding: 0 5px;
}

.ui-tooltip.ui-tooltip-top,
.ui-tooltip.ui-tooltip-bottom {
    padding: 5px 0px;
}

.ui-tooltip .ui-tooltip-text {
   padding: 3px 10px;
   background-color: rgb(76, 76, 76);
   color: #ffffff;
}

.ui-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.ui-tooltip-right .ui-tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: rgb(76, 76, 76);
}

.ui-tooltip-left .ui-tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: rgb(76, 76, 76);
}

.ui-tooltip.ui-tooltip-top {
    padding: 5px 0;
}

.ui-tooltip-top .ui-tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: rgb(76, 76, 76);
}

.ui-tooltip-bottom .ui-tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: rgb(76, 76, 76);
}
.ui-tree {
    width: 300px;
}

.ui-tree .ui-tree-container {
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 3px;
    white-space: nowrap;
}

.ui-tree .ui-treenode-children {
    margin: 0;
    padding: 0 0 0 16px;
}

.ui-tree .ui-treenode {
    background-attachment: scroll;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat-y;
    list-style: none outside none;
    margin: 0;
    padding: 1px 0 0;
}

.ui-tree .ui-treenode-content {

}

.ui-tree .ui-tree-toggler {
    cursor: pointer;
    display: inline-block;
    margin-top: 3px;
}

.ui-tree .ui-treenode-icon {
    display: inline-block;
    margin-top: 3px;
}

.ui-tree .ui-treenode-label {
    display: inline-block;
    margin: 2px 0 0 0;
    padding: 0 3px;
}

.ui-tree .ui-treenode-selectable .ui-treenode-label,
.ui-tree .ui-treenode-selectable .ui-treenode-icon {
    cursor: pointer;
}

.ui-tree .ui-treenode-label.ui-state-hover,
.ui-tree .ui-treenode-label.ui-state-highlight {
    font-weight: normal;
    border: 0 none;
}

.ui-tree .ui-treenode-leaf-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.ui-tree .ui-chkbox-box {
    cursor: pointer;
    width: 15px;
    height: 15px;
    float: left;
}

.ui-tree .ui-chkbox {
    display: inline-block;
    zoom: 1;
}

/** Fluid **/
.ui-fluid .ui-tree {
    width: 100%;
}

.ui-treetable table {
	border-collapse:collapse;
    width: 100%;
    table-layout: fixed;
}

.ui-treetable .ui-treetable-header,
.ui-treetable .ui-treetable-footer {
    text-align:center;
    padding: 4px 10px;
}

.ui-treetable .ui-treetable-header {
    border-bottom: 0px none;
}

.ui-treetable .ui-treetable-footer {
    border-top: 0px none;
}

.ui-treetable th, .ui-treetable tfoot td {
    text-align: center;
}

.ui-treetable thead th,
.ui-treetable tbody td,
.ui-treetable tfoot td {
    padding: 4px 10px;
    overflow: hidden;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
}

.ui-treetable tbody td {
    border-color: inherit;
}

.ui-treetable .ui-treetable-toggler {
    float: left;
    cursor: pointer;
}

.ui-treetable .ui-treetable-data tr.ui-state-highlight,
.ui-treetable .ui-treetable-data tr.ui-state-hover,
.ui-treetable .ui-treetable-row.ui-state-highlight,
.ui-treetable .ui-treetable-row.ui-state-hover {
    cursor: pointer;
}
      
.ui-treetable tr.ui-state-hover {
    border-color: inherit;
    font-weight: inherit;
}

.ui-treetable .ui-treetable-indent {
    width: 16px;
    height: 16px;
    float: left;
}

/* PrimeNG */
.ui-treetable td.ui-treetable-child-table-container {
    padding: 0px;
    border: 0px none;
}

.ui-treetable .ui-treetable-row {
    display:table-row;
    border-bottom:0px transparent
}

.ui-treetable .ui-treetable-row.ui-state-hover,
.ui-treetable .ui-treetable-row.ui-state-highlight {
    border: 0px none;
}

.ui-treetable tbody .ui-treetable-row td {
    border: 0px none;
}